.white-text {
    color: #FFFFFF !important;
}

.center-content {
    text-align: center;
}

.store-header {
    border-bottom: 1px solid #752095;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100px;
}

.product-image {
    max-width: 100%;
}

.store-title {
    font-weight: bold;
    color: #752095;
}

.product-item {
    margin: 10px;
    padding: 10px;
    transition: box-shadow .3s;
    cursor: pointer;
    border: 1px solid #afafaf;
}

.product-item:hover {
    box-shadow: 0 0 10px rgba(117, 32, 149, 0.83);
}

.product-image-blur {
    webkit-filter: blur(4px);
    filter: blur(4px);
}

.cartButton {
    background: rgba(117, 32, 149, 1);
}

.product-cart-count {
    background: rgba(117, 32, 149, 0.83);
    width: 25px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.product-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-description {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-price {
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-btn {
    position: absolute;
    top: calc(50% - 10%);
    left: calc(50% - 35%);
}

.inspector-product-cart-actions {
    margin-top: 50px;
}

/*Sobreescribo los estilos solo para este boton y no perder el comportamiento del de skeleton*/
.cart-action-button {
    background-color: #FFFFFF !important;
    display: inline-block !important;
    height: 40px !important;
    padding: 0px 14px !important;
    color: #afafaf !important;
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 37px !important;
    letter-spacing: 0.1rem !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    white-space: nowrap !important;
    border-radius: 11px !important;
    border: 1px solid #bbb !important;
    cursor: pointer !important;
    box-sizing: border-box !important;
}

.cart-action-button:hover {
    background-color: #752095 !important;
    color: #FFFFFF !important;
}

.inspector-separator {
    border-bottom: 1px solid #752095;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inspector-product-name {
    font-weight: bold;
    font-size: 20px;
}

.inspector-product-price {
    font-weight: bold;
    font-size: 20px;
    color: #752095;
}
