.product-item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    transition: box-shadow .3s;
    cursor: pointer;
}

.product-item:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.product-image-blur {
    webkit-filter: blur(4px);
    filter: blur(4px);
}

.product-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-description {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-price {
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-btn {
    position: absolute;
    top: calc(50% - 10%);
    left: calc(50% - 40%)
}
